#container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin: 20px auto;
}

.cell {
    border: 1px solid gray;
    width: calc(600px / 16);
    height: calc(600px / 16);
    /* width: 6px;
    height: 6px; */
    box-sizing: border-box;
}


.resetBtn {
    background-color: red;
    border: 3px solid black;
    display: block; /* Set it as a block-level element */
    width: fit-content; /* Set a fixed width if needed, or 'fit-content' to adjust to the content */
    margin: 0 auto; /* Center horizontally */
    text-align: center; /* Center the button's content horizontally */
    padding: 10px 30px;
}

.newGrid {
    display: flex;
    margin: 20px auto;
}

